<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_16x16.ico" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_32x32.ico" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_64x64.ico" sizes="64x64">

        <title>CloudBrew</title>

        <!-- dropify -->
        <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">

        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">
        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <![endif]-->
    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/"><img src="/landingpage/images/logo_top_white.png" alt="CloudBrew" style="height:65px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <!-- <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li> -->
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="/assets/img/avatars/user.png" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="#" data-uk-modal="{target:'#invite_users',bgclose:false}">Invite</a></li>
                                        <li><a href="/auth/signout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="header_main_search_form">
                <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
                <form class="uk-form">
                    <input type="text" class="header_main_search_input" />
                    <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
                </form>
            </div>
        </header><!-- main header end -->
        <div id="top_bar">
            <div class="md-top-bar">
                <ul id="menu_top" class="uk-clearfix">
                    <li title="CloudBrew Console" class="current_section">
                        <a href="/api/console">
                            <span class="menu_icon"><i class="material-icons">&#xE1B2;</i></span>
                            <span class="menu_title">CloudBrew Console</span>
                        </a>
                    </li>
                    <li title="Linked Accounts">
                        <a href="/api/accounts">
                            <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                            <span class="menu_title">Link Accounts</span>
                        </a>
                    </li>
                    <li title="Linked Accounts">
                        <a href="/group">
                            <span class="menu_icon"><i class="material-icons">&#xE7EF;</i></span>
                            <span class="menu_title">Groups</span>
                        </a>
                    </li>
                    <%
                    if(typeof(gmenu) != 'undefined') {
                    %>
                    <li title="Google Drive">
                        <a href="<%= gmenu %>">
                            <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
                            <span class="menu_title">Google Drive</span>
                        </a>
                    </li>
                    <%
                    }
                    if(typeof(dmenu) != 'undefined') {
                    %>
                    <li title="Dropbox">
                        <a href="<%= dmenu %>">
                            <span class="menu_icon"><i class="material-icons">&#xE1BD;</i></span>
                            <span class="menu_title">Dropbox</span>
                        </a>
                    </li>
                    <%
                    }
                    %>
                </ul>
            </div>
        </div>

        <div id="page_content">
            <div id="page_content_inner">
                <div data-uk-observe>
                    <div id="file_grid" class="uk-grid uk-grid-width-small-1-2 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-6 uk-text-center uk-sortable sortable-handler" data-uk-grid-margin>
                        <%
                        for(var index in filelist) {
                        %>
                        <div id="file_<%= filelist[index]._id %>">
                            <div class="md-card md-card-hover md-card-overlay" style="border-radius: 15px;">
                                <div class="md-card-content">
                                    <div>
                                        <img src="/images/file.png" style="height: 110px;">
                                        <div style="z-index: 1000;margin-top: -40px;">
                                        <%= filelist[index].filetype.toUpperCase() %>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-card-overlay-content">
                                    <div class="uk-clearfix md-card-overlay-header">
                                        <i class="md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                                        <h3>
                                            <%= filelist[index].filename %>
                                        </h3>
                                    </div>
                                    <p>
                                        <strong>Name: </strong> <%= filelist[index].filename %> 
                                        <br/>
                                        <% if(typeof(filelist[index].size) !== 'undefined') { %>
                                        <strong>Size: </strong> <% if((filelist[index].size / 1073741824) > 1) { %>
                                            <%= (filelist[index].size / 1073741824).toFixed(2) + ' GB' %>
                                        <% } else if((filelist[index].size / 1048576) > 1) { %>
                                            <%= (filelist[index].size / 1048576).toFixed(2) + ' MB' %>
                                        <% } else if((filelist[index].size / 1024) > 1) { %>
                                            <%= (filelist[index].size / 1024).toFixed(2) + ' KB' %> 
                                        <% } else { %>
                                            <%= filelist[index].size + ' B' %>
                                        <% } %>
                                        <br/>
                                        <% } %>
                                    </p>
                                    <!-- <a href="javascript:void(0)" ><i class="material-icons md-48 uk-text-success">&#xE2C0;</i></a>
                                    <a href="javascript:void(0)"><i class="material-icons md-48 uk-text-danger">&#xE872;</i></a> -->
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-medium-1-2">
                                        <button class="md-btn md-btn-success md-btn-block md-btn-wave-light waves-effect waves-button waves-light" onclick="downloadfile('<%= filelist[index]._id %>', false)" title="Download File">
                                            <i class="material-icons md-24 md-color-white">&#xE2C0;</i>
                                        </button>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                        <button class="md-btn md-btn-danger md-btn-block md-btn-wave-light waves-effect waves-button waves-light" onclick="UIkit.modal.confirm('Do you really want to delete this file?', function(){ deletefile('<%= filelist[index]._id %>', false); });" title="Delete File">
                                            <i class="material-icons md-24 md-color-white">&#xE872;</i>
                                        </button>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%
                        }
                        %>
                    </div>
                </div>
                <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial">
                    <a class="md-fab md-bg-red-900" href="#" title="Click To Toggle"><i class="material-icons md-color-white">&#xE145;</i></a>
                    <div class="md-fab-wrapper-small">
                        <a class="md-fab md-fab-small md-fab-success" href="#" data-uk-modal="{target:'#modal_header_footer',bgclose:false}" title="Upload File"><i class="material-icons">&#xE2C3;</i></a>
                        <%
                        /*
                        <a class="md-fab md-fab-small md-fab-danger" href="#"><i class="material-icons">&#xE153;</i></a>
                        <a class="md-fab md-fab-small md-fab-success" href="#"><i class="material-icons">&#xE149;</i></a>
                        */
                        %>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; CloudBrew Systems. All Rights Reserved. &nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" onclick="UIkit.modal.alert('<ul><li>Filename character limit is 30 character.</li></ul>')">Known Issues</a>
        </footer>

        <div class="uk-modal" id="modal_header_footer">
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Upload File</h3>
                    <span style="color:#c62828;">* Max upload file size is 110MB</span>
                </div>
                <div>
                    <form id="fileupload_form">
                        <input type="file" id="input-file-a" class="dropify" name="uploaded_file" data-max-file-size="110M" />
                    </form>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close" onclick="$('.dropify-clear').click();">Close</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary" onclick="fileupload('fileupload_form','/api/upload')">Upload</button>
                </div>
            </div>
        </div>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <div class="uk-modal" id="invite_users">
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Invite Users</h3>
                </div>
                <form class="uk-form-stacked" id="users_email">
                    <div class="uk-margin-medium-bottom">
                        <label for="task_title">Email Id(s)<small> (Insert Email Ids seperated by comma for inviting multiple people)</small></label>
                        <input type="text" class="md-input" id="invite_emails" name="invite_emails"/>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="button" class="md-btn md-btn-flat md-btn-flat-primary" onclick="formSubmit('/api/invite', 'users_email', $(this), invitedone)">Invite</button>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function invitedone(json) {
                if (json.success === 1) {
                    UIkit.modal("#invite_users").hide();
                    UIkit.notify({
                        message : 'Users Invited Succefully',
                        status  : 'success',
                        timeout : 5000,
                        pos     : 'top-center'
                    });
                    document.getElementById("users_email").reset();
                } else {
                    UIkit.notify({
                        message : 'Error while inviting users. Please try again later.',
                        status  : 'danger',
                        timeout : 5000,
                        pos     : 'top-center'
                    });
                    document.getElementById("users_email").reset();
                }
            }
        </script>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();

        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.js"></script>

        <!--  dropify -->
        <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>

        <!--  form file input functions -->
        <script src="/assets/js/pages/forms_file_input.min.js"></script>

        <script src="/javascripts/common.js"></script>
        <script>
            $(function() {
                // enable hires images
                altair_helpers.retina_images();
                // fastClick (touch devices)
                if(Modernizr.touch) {
                    FastClick.attach(document.body);
                }
            });
        </script>

    </body>
</html>